<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}Coinkite Invoice API Example{% endblock page_title %}</title>

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Bootstrap CSS only here-->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <script src="/static/js/head.min.js"></script>
    <script>
        head.load("https://code.jquery.com/jquery-1.11.0.min.js",
                  "/static/bootstrap/js/bootstrap.min.js",
                  "/static/js/invoice.js");
    </script>
  </head>

  <body id="home">
    {% block page_body %}
      <h1>Invoice</h1>
    {% endblock page_body %}
  </body>
</html>
