{% extends "base.html" %}

{% block page_body %}
<div class="container well">
  <div class="row">
    <div class="col-sm-12">
      <h1>Real-Time Invoice Demo</h1>

      <p class="lead">Coinkite API Makes an Invoice System</p>

      <h4>Static Examples <small>Using Test Data</small></h4>
    
      <ol>
        <li><a href="/invoice/example.btc">Example with BTC</a>
        <li><a href="/invoice/example.ltc">Example with LTC</a>
        <li><a href="/invoice/example.blk">Example with BLK</a>
        <li><a href="/invoice/example.xtn">Example with XTN</a>
      </ol>

      <h4>Coinkite API </h4>
      <p>
        <a href="https://docs.coinkite.com/">Learn more about Coinkite's API here</a>
        and visit the <a href="(https://coinkite.com/">Coinkite Main Site</a> to open your
        account today!
      </p>

      <p> Get the 
        <a href="https://github.com/coinkite/rt-invoice">Source code on <i class="fa fa-github"></i> Github/Coinkite!</a>
      </p>

      <h4>Developers <small>(or when running locally)</small></h4>
      <p>
        <a class="btn btn-large btn-primary" href="/make"><i class="fa fa-plus-square"></i> Make a New Invoice</a>
        <br>
      </p>

    </div>
  </div>
</div>

<a href="https://github.com/coinkite/rt-invoice"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
{% endblock page_body %}
