{% extends "base.html" %}

{% block page_body %}
<div class="container well">
  <div class="row">
    <div class="col-sm-12">
      <h1>Coinkite RT Invoice Demo</h1>
    
      <ul>
        <li><a href="/invoice/example.btc">Example with BTC</a>
        <li><a href="/invoice/example.ltc">Example with LTC</a>
        <li><a href="/invoice/example.blk">Example with BLK</a>
        <li><a href="/invoice/example.xtn">Example with XTN</a>
      </ul>
    </div>
  </div>
</div>
{% endblock page_body %}
