{% extends "base.html" %}

{% block page_body %}
<style>
.cki-crypto-amount {
    margin-bottom: 0;
}
.cki-fiat-amount {
}
.cki-big-pay {
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.cki-big-pay > a > b {
    font-size: 150%;
}
.cki-link-btn {
    color: grey;
}
.cki-pubkey > code {
    color: black;
}
.cki-timer-bar {
    margin: 0;
    margin-top: 1.5em;
}
.coinkite-credit {
    opacity: 40%;
    font-size: 75%;
}
table.cki-rate-table > tbody > tr > td {
    white-space: pre;
}
table.cki-rate-table tr:first-child td {
    border-top: none;
}
table.cki-rate-table tr:first-child th {
    border-top: none;
}

.js-selectable {
    padding: 1px;
    border-radius: 4px;
}
.js-selectable:hover {
    border: 1px dashed grey;
    cursor: pointer;
}

.cki-topmost-row {
    margin-top: -10px;
    margin-bottom: 10px;
}

.qrcode-container > svg {
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 8px;
    text-align: right;
}

</style>

<div class="container well" id="ck-invoice">
  <div class="row cki-topmost-row">
    <div class="col-sm-12">
      <span class="pull-left text-left">
          <a class="cki-link-btn"><i class="fa fa-refresh"></i></span></a>
      </span>
      <span class="pull-right coinkite-credit text-right">
        Powered by <a href="https://coinkite.com" target="_new">Coinkite</a>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 text-center">
      <h3 class="cki-payee">
        Doggy Dash Crypto Cash
      </h3>
      <p class="lead cki-crypto-amount">
        <span class="js-selectable">{{amount}}</span> {{cct}}
      </p>
      <p class="cki-fiat-amount">
        ≈ $100 USD
        &nbsp;
        &nbsp;
        &nbsp;
        <a class="popover-dismiss js-popover" data-toggle="popover"
            title="Exchange Rate" data-html='true'
            data-placement="bottom"     {# so works on phone #}
            data-content="<table class='table condensed cki-rate-table'><tbody>
            {% for ff,tt in exchange_rates -%}
              <tr><td>{{ff}} <td>= <td>{{tt}}
            {%- endfor %}</table>">
            <i class="fa fa-exchange"></i><i class="fa fa-question"></i></a>
      </p>
      <p class="cki-pubkey">
        <i class="fa fa-arrow-circle-right"></i> <code class="js-selectable">{{pubkey}}</code>
      </p>
      <p class="cki-big-pay">
        <a class="btn btn-large btn-primary" href="{{bitcoin_link}}">
          {%- if cct == 'BTC' -%}
            <i class="fa fa-btc fa-lg"></i>&nbsp; Pay with Bitcoin
          {%- elif cct == 'LTC' -%}
            <b>Ł</b>&nbsp; Pay with Litecoin
          {%- elif cct == 'BLK' -%}
            <b>Ѣ</b>&nbsp; Pay with Blackcoin
          {%- elif cct == 'XTN' -%}
            <b>❀</b>&nbsp; Pretend with Testnet
          {%- else -%}
            Pay Now
          {%- endif -%}
        </a>
      </p>
      <p class="cki-coinkite-pay">
        <a class="btn btn-xs btn-info" href="https://coinkite.com/paythis/{{req.ref_number}}/{{amount}}">Use Coinkite to Pay</a>
      </p>
    </div>

    <div class="col-sm-6 text-center">
      {# <img src="/qr/example.svg" class="img-thumbnail" alt="QR Code" width=80%> #}
      <div class="qrcode-container">
        {{ bitcoin_link|svg_qr }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="progress cki-timer-bar">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
        </div>
        <div class="text-center">
          <i class="fa fa-clock-o"></i> 2:23 left
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock page_body %}
