{% extends "base.html" %}

{% block page_body %}
<style>
.cki-crypto-amount {
    margin-bottom: 0;
}
.cki-fiat-amount > a:hover {
    text-decoration: none
}
.cki-fiat-amount > a {
    color: grey;
}
.cki-big-pay {
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.cki-big-pay > a > b {
    font-size: 150%;
}
.cki-link-btn {
    color: grey;
}
.cki-pubkey > code {
    color: black;
}
.cki-timer-bar {
    margin: 0;
    margin-top: 1.5em;
}
.coinkite-credit {
    opacity: 40%;
    font-size: 75%;
}
table.cki-rate-table > tbody > tr > td {
    white-space: pre;
}
table.cki-rate-table tr:first-child td {
    border-top: none;
}
table.cki-rate-table tr:first-child th {
    border-top: none;
}

.js-selectable {
    padding: 1px;
    border-radius: 4px;
}
.js-selectable:hover {
    border: 1px dashed grey;
    cursor: pointer;
}

.cki-topmost-row {
    margin-top: -10px;
    margin-bottom: 10px;
}

.qrcode-container > svg {
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 8px;
    text-align: right;
}

.cki-time-left {
    float: right;
    margin-left: 10px;
    margin-right: 4px;
    font-size: 12px;
    line-height: 20px;
}

#ck-invoice {
    max-width: 800px;
}

</style>

<div class="container well" id="ck-invoice">
  <div class="row cki-topmost-row">
    <div class="col-sm-12">
      <span class="pull-left text-left">
          <a class="cki-link-btn" href=''><i class="fa fa-refresh"></i></span></a>
      </span>
      <span class="pull-right coinkite-credit text-right">
        Powered by <a href="https://coinkite.com" target="_new">Coinkite</a>
      </span>
    </div>
  </div>

  <div class="row" id='js-most-stuff'>
    <div class="col-sm-6 text-center">
      {% if label %}
        <h3 class="cki-payee">{{label}}</h3>
      {% endif %}
      <p class="lead cki-crypto-amount">
        <span class="js-selectable">{{payable}}</span> {{payable_cct}}
      </p>
      <p class="cki-pubkey">
        <i class="fa fa-arrow-circle-right"></i>
        <code class="js-selectable">{{pubkey}}</code>
      </p>
      {% if show_fiat %}
        <p class="cki-fiat-amount">
          <a class="popover-dismiss js-popover" data-toggle="popover"
            title="Exchange Rate" data-html='true' href='#'
            data-placement="bottom"     {# so works on phone #}
            data-content="<table class='table condensed cki-rate-table'><tbody>
            {% for ff,tt in exchange_rates -%}
              <tr><td>{{ff}} <td>= <td>{{tt}}
            {%- endfor %}</table>"
          >
            <i class="fa fa-exchange"></i> {{amount}} {{amount_cct}}
          </a>
        </p>
      {% endif %}
      <p class="cki-big-pay">
        <a class="btn btn-large btn-primary" href="{{bitcoin_link}}" target="your-wallet">
          {%- if cct == 'BTC' -%}
            <i class="fa fa-btc fa-lg"></i>&nbsp; Pay with Bitcoin
          {%- elif cct == 'LTC' -%}
            <b>Ł</b>&nbsp; Pay with Litecoin
          {%- elif cct == 'BLK' -%}
            <b>Ѣ</b>&nbsp; Pay with Blackcoin
          {%- elif cct == 'XTN' -%}
            <b>❀</b>&nbsp; Pretend with Testnet
          {%- else -%}
            Pay Now
          {%- endif -%}
        </a>
      </p>
      <p class="cki-coinkite-pay">
        <a class="btn btn-xs btn-info" target="coinkite"
           href="https://coinkite.com/coin-uri#{{bitcoin_link|urlencode}}">Use Coinkite to Pay</a>
      </p>
    </div>

    <div class="col-sm-6 text-center">
      {# <img src="/qr/example.svg" class="img-thumbnail" alt="QR Code" width=80%> #}
      <div class="qrcode-container">
        {{ bitcoin_link|svg_qr }}
      </div>
    </div>
  </div>

  <div class="row" id='js-expired' style="display: none">
    <div class="col-sm-12">
        <h2><i class="fa fa-clock-o"></i> Expired</h2>
        <p class="lead">This invoice has expired. Please start over.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="progress cki-timer-bar">
        {# Just let the JS code do all the changes here, easier #}
        <div class="progress-bar" id="js-time-percent"
            role="progressbar" aria-valuemin="0" aria-valuemax="100"
            style="width: 100%;">
        </div>
        <span class="cki-time-left">
          <i class="fa fa-clock-o"></i> <span id="js-time-left">&nbsp;</span>
        </span>
      </div>
    </div>
  </div>
</div>

<script>
var THIS_INVOICE = {
    time_left: {{time_left}}, 
    max_time: {{max_time}}
};
</script>
{% endblock page_body %}
